# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
**/.pnpm-store/*
.pnpm-store
.pnpm-store/v3/files/
.env
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
**/node_modules/**
_node_modules
.pnp.cjs

# Coverage directory used by tools like istanbul
coverage

.tmp
_docpress
.DS_Store

#lib
dist
tsconfig.tsbuildinfo
test.lib/

# Visual Studio Code configs
.vscode/

# JetBrains IDEs
.idea/

# pnpm uses npm for publishing a new version with
# dependencies bundled but the npm lockfile is not needed
# because pnpm use pnpm for installation
package-lock.json

__package_previews__
.store

privatePackages/store

## Verdaccio storage
storage

yarn.lock

RELEASE.md

.jest-cache
.verdaccio-cache
.turbo

## custom modules-dir fixture
__fixtures__/custom-modules-dir/**/fake_modules/
__fixtures__/custom-modules-dir/cache/
__fixtures__/custom-modules-dir/patches/
backend/tmp/app/engine
backend/tmp/app/engine
data

data/_mdb_catalog.wt
data/collection-0-4877165003810552486.wt
data/collection-2-4877165003810552486.wt
data/collection-4-4877165003810552486.wt
data/index-1-4877165003810552486.wt
data/index-3-4877165003810552486.wt
data/index-5-4877165003810552486.wt
data/index-6-4877165003810552486.wt
data/mongod.lock
data/sizeStorer.wt
data/storage.bson
data/WiredTiger
data/WiredTiger.lock
data/WiredTiger.turtle
data/WiredTiger.wt
data/WiredTigerHS.wt
data/diagnostic.data/metrics.2024-12-01T10-24-40Z-00000
data/journal/WiredTigerLog.0000000001
data/journal/WiredTigerPreplog.0000000001
data/journal/WiredTigerPreplog.0000000002
database/#ib_16384_0.dblwr
database/#ib_16384_1.dblwr
database/auto.cnf
database/binlog.000001
database/binlog.000002
database/binlog.000003
database/binlog.000004
database/binlog.000005
database/binlog.index
database/ib_buffer_pool
database/ibdata1
database/ibtmp1
database/mysql.ibd
database/mysql.sock
database/undo_001
database/undo_002
database/#innodb_redo/#ib_redo137
database/#innodb_redo/#ib_redo138
database/#innodb_redo/#ib_redo139
database/#innodb_redo/#ib_redo140
database/#innodb_redo/#ib_redo141
database/#innodb_redo/#ib_redo142
database/#innodb_redo/#ib_redo143
database/#innodb_redo/#ib_redo144
database/#innodb_redo/#ib_redo145
database/#innodb_redo/#ib_redo146
database/#innodb_redo/#ib_redo147
database/#innodb_redo/#ib_redo148
database/#innodb_redo/#ib_redo149
database/#innodb_redo/#ib_redo150
database/#innodb_redo/#ib_redo151
database/#innodb_redo/#ib_redo152
database/#innodb_redo/#ib_redo153
database/#innodb_redo/#ib_redo154
database/#innodb_redo/#ib_redo155_tmp
database/#innodb_redo/#ib_redo156_tmp
database/#innodb_redo/#ib_redo157_tmp
database/#innodb_redo/#ib_redo158_tmp
database/#innodb_redo/#ib_redo159_tmp
database/#innodb_redo/#ib_redo160_tmp
database/#innodb_redo/#ib_redo161_tmp
database/#innodb_redo/#ib_redo162_tmp
database/#innodb_redo/#ib_redo163_tmp
database/#innodb_redo/#ib_redo164_tmp
database/#innodb_redo/#ib_redo165_tmp
database/#innodb_redo/#ib_redo166_tmp
database/#innodb_redo/#ib_redo167_tmp
database/#innodb_redo/#ib_redo168_tmp
database/#innodb_temp/temp_1.ibt
database/#innodb_temp/temp_2.ibt
database/#innodb_temp/temp_3.ibt
database/#innodb_temp/temp_4.ibt
database/#innodb_temp/temp_5.ibt
database/#innodb_temp/temp_6.ibt
database/#innodb_temp/temp_7.ibt
database/#innodb_temp/temp_8.ibt
database/#innodb_temp/temp_9.ibt
database/#innodb_temp/temp_10.ibt
database/ckd_development/affiliatelog.ibd
database/ckd_development/affiliates.ibd
database/ckd_development/affiliatetracking.ibd
database/ckd_development/banksaccount.ibd
database/ckd_development/bankstatement.ibd
database/ckd_development/buyinout.ibd
database/ckd_development/games.ibd
database/ckd_development/partners.ibd
database/ckd_development/products.ibd
database/ckd_development/promotionlog.ibd
database/ckd_development/promotions.ibd
database/ckd_development/providers.ibd
database/ckd_development/referrals.ibd
database/ckd_development/transactionsub.ibd
database/ckd_development/tsxadmin.ibd
database/ckd_development/users.ibd
database/ckd_production/banksaccount.ibd
database/ckd_production/bankstatement.ibd
database/ckd_production/buyinout.ibd
database/ckd_production/products.ibd
database/ckd_production/providers.ibd
database/ckd_production/transactionsub.ibd
database/ckd_production/tsxadmin.ibd
database/ckd_production/users.ibd
database/master/settings.ibd
database/mysql/general_log_213.sdi
database/mysql/general_log.CSM
database/mysql/general_log.CSV
database/mysql/slow_log_214.sdi
database/mysql/slow_log.CSM
database/mysql/slow_log.CSV
database/performance_schema/accounts_145.sdi
database/performance_schema/binary_log_trans_189.sdi
database/performance_schema/cond_instances_82.sdi
database/performance_schema/data_lock_waits_161.sdi
database/performance_schema/data_locks_160.sdi
database/performance_schema/error_log_83.sdi
database/performance_schema/events_errors_su_139.sdi
database/performance_schema/events_errors_su_140.sdi
database/performance_schema/events_errors_su_141.sdi
database/performance_schema/events_errors_su_142.sdi
database/performance_schema/events_errors_su_143.sdi
database/performance_schema/events_stages_cu_111.sdi
database/performance_schema/events_stages_hi_112.sdi
database/performance_schema/events_stages_hi_113.sdi
database/performance_schema/events_stages_su_114.sdi
database/performance_schema/events_stages_su_115.sdi
database/performance_schema/events_stages_su_116.sdi
database/performance_schema/events_stages_su_117.sdi
database/performance_schema/events_stages_su_118.sdi
database/performance_schema/events_statement_119.sdi
database/performance_schema/events_statement_120.sdi
database/performance_schema/events_statement_121.sdi
database/performance_schema/events_statement_122.sdi
database/performance_schema/events_statement_123.sdi
database/performance_schema/events_statement_124.sdi
database/performance_schema/events_statement_125.sdi
database/performance_schema/events_statement_126.sdi
database/performance_schema/events_statement_127.sdi
database/performance_schema/events_statement_128.sdi
database/performance_schema/events_statement_129.sdi
database/performance_schema/events_statement_130.sdi
database/performance_schema/events_transacti_131.sdi
database/performance_schema/events_transacti_132.sdi
database/performance_schema/events_transacti_133.sdi
database/performance_schema/events_transacti_134.sdi
database/performance_schema/events_transacti_135.sdi
database/performance_schema/events_transacti_136.sdi
database/performance_schema/events_transacti_137.sdi
database/performance_schema/events_transacti_138.sdi
database/performance_schema/events_waits_cur_84.sdi
database/performance_schema/events_waits_his_85.sdi
database/performance_schema/events_waits_his_86.sdi
database/performance_schema/events_waits_sum_87.sdi
database/performance_schema/events_waits_sum_88.sdi
database/performance_schema/events_waits_sum_89.sdi
database/performance_schema/events_waits_sum_90.sdi
database/performance_schema/events_waits_sum_91.sdi
database/performance_schema/events_waits_sum_92.sdi
database/performance_schema/file_instances_93.sdi
database/performance_schema/file_summary_by__94.sdi
database/performance_schema/file_summary_by__95.sdi
database/performance_schema/global_status_181.sdi
database/performance_schema/global_variables_184.sdi
database/performance_schema/host_cache_96.sdi
database/performance_schema/hosts_146.sdi
database/performance_schema/keyring_componen_191.sdi
database/performance_schema/keyring_keys_152.sdi
database/performance_schema/log_status_174.sdi
database/performance_schema/memory_summary_b_154.sdi
database/performance_schema/memory_summary_b_155.sdi
database/performance_schema/memory_summary_b_156.sdi
database/performance_schema/memory_summary_b_157.sdi
database/performance_schema/memory_summary_g_153.sdi
database/performance_schema/metadata_locks_159.sdi
database/performance_schema/mutex_instances_97.sdi
database/performance_schema/objects_summary__98.sdi
database/performance_schema/performance_time_99.sdi
database/performance_schema/persisted_variab_187.sdi
database/performance_schema/prepared_stateme_175.sdi
database/performance_schema/processlist_100.sdi
database/performance_schema/replication_appl_165.sdi
database/performance_schema/replication_appl_166.sdi
database/performance_schema/replication_appl_167.sdi
database/performance_schema/replication_appl_168.sdi
database/performance_schema/replication_appl_170.sdi
database/performance_schema/replication_appl_171.sdi
database/performance_schema/replication_asyn_172.sdi
database/performance_schema/replication_asyn_173.sdi
database/performance_schema/replication_conn_162.sdi
database/performance_schema/replication_conn_164.sdi
database/performance_schema/replication_grou_163.sdi
database/performance_schema/replication_grou_169.sdi
database/performance_schema/rwlock_instances_101.sdi
database/performance_schema/session_account__151.sdi
database/performance_schema/session_connect__150.sdi
database/performance_schema/session_status_182.sdi
database/performance_schema/session_variable_185.sdi
database/performance_schema/setup_actors_102.sdi
database/performance_schema/setup_consumers_103.sdi
database/performance_schema/setup_instrument_104.sdi
database/performance_schema/setup_objects_105.sdi
database/performance_schema/setup_threads_106.sdi
database/performance_schema/socket_instances_147.sdi
database/performance_schema/socket_summary_b_148.sdi
database/performance_schema/socket_summary_b_149.sdi
database/performance_schema/status_by_accoun_177.sdi
database/performance_schema/status_by_host_178.sdi
database/performance_schema/status_by_thread_179.sdi
database/performance_schema/status_by_user_180.sdi
database/performance_schema/table_handles_158.sdi
database/performance_schema/table_io_waits_s_107.sdi
database/performance_schema/table_io_waits_s_108.sdi
database/performance_schema/table_lock_waits_109.sdi
database/performance_schema/threads_110.sdi
database/performance_schema/tls_channel_stat_190.sdi
database/performance_schema/user_defined_fun_188.sdi
database/performance_schema/user_variables_b_176.sdi
database/performance_schema/users_144.sdi
database/performance_schema/variables_by_thr_183.sdi
database/performance_schema/variables_info_186.sdi
database/sys/sys_config.ibd
database/binlog.000006
